{% extends 'basic.html' %}

{% block title %} Checkout - BigDukaan{% endblock %}

{% block body %}

<div class="container">
     <div class="col my-4">
          <h2>Step 1 - My BigDukaan Express Checkout - Review Your Cart Items</h2>
          <div class="my-4">
               <ul class="list-group" id="items">
                   
               </ul>

               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item active" aria-current="page">Your Cart total is <b>Rs.<span id="totalprice"></span></b>, Thanks for using BigDukaan</li>
                  </ol>
                </nav>
               
          </div>
     </div>
     <div class="col my-4">
          <h2>Step 2 - Enter Address and Other Details</h2>
          <form method="post" action="/checkout/">{% csrf_token %}
               <input type="hidden" name="itemsJson" id="itemsJson">     
               <input type="hidden" name="amount" id="amount">     
               <div class="form-row">
                    <div class="form-group col-md-6">
                         <label for="inputname">Name</label>
                         <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                         <label for="inputEmail4">Email</label>
                         <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
               </div>
               <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
               </div>
               <div class="form-group">
                    <label for="inputAddress2">Address Line 2</label>
                    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
               </div>
               <div class="form-row">
                    <div class="form-group col-md-6">
                         <label for="inputCity">City</label>
                         <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="form-group col-md-4">
                         <label for="inputState">State</label>
                         <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
                    </div>
                    <div class="form-group col-md-2">
                         <label for="inputZip">Zip</label>
                         <input type="text" class="form-control" id="zip_code" name="zip_code">
                    </div>
               </div>
               <div class="form-group">
                    <label for="inputPhone">Phone Number</label>
                    <input type="tel" class="form-control" id="contact" name="contact">
               </div>
               <button type="submit" class="btn btn-primary">Place Order</button>
          </form>
     </div>
</div>

{% endblock %}

{% block js %} 

<script>
jQuery(document).ready(function(){
 
    jQuery(".hidethebutton").hide();

});
     if(localStorage.getItem('cart') == null){
          var cart = {};
     }
     else{
          cart = JSON.parse(localStorage.getItem('cart'));
     }
     console.log(cart)
     var sum = 0;
     var totalprice = 0;
     if($.isEmptyObject(cart)){
       // if object is empty
       mystr = `<h5 align=center>Oops... Your Cart is Empty, Please add products to cart</h5>`
          jQuery('#items').append(mystr);
     }
     else{
        for (item in cart){
          let name = cart[item][1];
          let qty = cart[item][0];
          let itemPrice = cart[item][2];
          sum = sum + qty;
          totalprice = totalprice + qty*itemPrice
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                            ${name}
                            <span class="badge badge-primary badge-pill">${qty}</span>
                        </li>`
          jQuery('#items').append(mystr)
        }
      }
  document.getElementById('cart').innerHTML = sum;
  document.getElementById('totalprice').innerHTML = totalprice;
$("#itemsJson").val(JSON.stringify(cart));
// {% if thank %}

// // alert('Thanks for Ordering with us, Your Order id is {{id}}. use it to track your order using our Order Tracker');
// // swal("Thanks for Ordering with us!", "Your Order id is {{id}}. use it to track your order using our Order Tracker!", "success");
// localStorage.clear();
// document.location = "/thankyou";
// {% endif %}
jQuery('#amount').val(jQuery('#totalprice').html())
</script>

{% endblock %}
